*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}
/* header styling */
header {
    background-color: white;
    /* grid-column-start: 1;
    grid-column-end: 4; */
    position: fixed;
    width: 100%;
    border-bottom: 1px solid lightgray;
    z-index: 1;
}
h1 {
    cursor: pointer;
    color: blue;
}
.header-opt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
.opt {
    display: flex;
    gap: 10px;
}
.search-icon, .menu-icon {
    border: 1px solid transparent;
    background-color: lightgray;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}
/* header - nav styling ... */
.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.oe-design {
    border: 3px dotted white;
    border-radius: 50%;
}
/* main section styling ... */
main {
   position: relative;
   top: 125px;
}

.post-con {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-bottom: 2px solid lightgray;
    margin-left: -50px;
}
.post-int {
    width: 130%;
    padding: 10px;
    border-radius: 50px;
    margin-left: -5px;
}
.group {
    position: relative;
    left: 52px;
}
.profile {
    background-image: url(images/profile.jpg);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
}
/* stories-con */
.stories-con {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    overflow-x: scroll;
    gap: 10px;
}
.story, .story1, .story2, .story3, .story4, .story5, .story6, .story7, .story8, .story9 {
    width: 100px;
    height: 180px;
    border: 1px solid black;
    border-radius: 10px;
}
.story {
    background-color: white;
    border-radius: 10px;
    background-size: contain;
    background-image: url(images/profile.jpg);
    background-repeat: no-repeat;
    position: relative;
    opacity: 0.8;  
    border: 1px solid transparent;
}
.circle-plus {
    position: absolute;
    border: 5px solid white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: 20px;
    left: 28px;
    background-color: blue;
    text-align: center;
    line-height: 30px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.c-s {
    position: absolute;
    bottom: 5px;
    left: 22px;
    cursor: pointer;
    font-size: 12px;
    }
    /* main-field */
.main-field {
    margin: 0 auto;
    /* border: 1px solid black; */
    max-width: 868px;
}
.post1 {
    display: flex;
    justify-content: space-between;
}
.profile1 {
    background-image: url(images/profile.jpg);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
}
.profile-post1 {
    display: flex;
    align-items: center;
}
.post1-1 {
    margin: 10px 15px 0px 15px;
}
.amaka {
    background-image: url(images/amaka.jpg);
    width: 87%;
    height: 430px;
    background-size: contain;
    margin: 0 auto;
    position: relative;
    top: 10px;
}
.l-c-s-1 {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}
.l-c-s-1-con {
    display: flex;
    justify-content: space-around;
}
.r-1, .r-2, .r-3 {
    width: 60px;
    height: 20px;
    border-radius: 50px;
    background-color: lightgray;
}
/* footer section styling ... */
footer {
    /* background-color: yellow; */
    border-top: 1px solid black;
    position: relative;
    top: 165px;
    text-align: center;
    padding: 5px;
}